<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>
                        Mechanic-Name
                    </th>
                    <th>
                        Vehicle-number
                    </th>
                    <th>
                        Service-Detail
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (let allService of showServiceDetails){%>
                <tr>
                    <td><%=allService.MECHANIC_NAME%></td>
                    <td><%=allService.VEHICLE_NUMBER%></td>
                    <td><%=allService.SERVICE_DETAIL%></td>
                    <td><%=allService.DATE%></td>
                    <td><%=allService.AMOUNT%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</body>
</html>